<mat-toolbar class="app-title">Create a room</mat-toolbar>
<div class="main-div">
	<mat-card class="center width50" *ngIf="form">
		<form (ngSubmit)="onSubmit()" [formGroup]="form">
			<mat-card-content>
				<app-input-text placeholder="Name *" controlName="name" [formGroup]="form">
				</app-input-text>
				<app-input-date placeholder="Date *" controlName="date" [formGroup]="form">
				</app-input-date>
				<app-input-time placeholder="Start Hour *" controlName="startHour" [formGroup]="form">
				</app-input-time>
				<app-input-time placeholder="End Hour *" controlName="endHour" [formGroup]="form">
				</app-input-time>
			</mat-card-content>

			<button type="submit" class="btn btn-success">Submit</button>
		</form>
	</mat-card>
</div>